body form {
  margin: 50px auto; }
  body form fieldset {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: lightgrey;  
    color: grey;
    border-color: gray; }
    body form fieldset legend {
      background-color: grey;
      color: lightgrey; }
.textechat{

    border: 1px solid lightgray;
    margin: auto;
    padding: 10px;
    max-width: 80%;
    justify-content: center;
    background-color: grey;
    color: white;
    margin: auto auto; }

}